<html>
	<head>
        <meta charset="UTF-8">
    </head>
	<body style="font-family:Arial,sans-serif;">

<!-- TITLE & MENU DIV -->
		<div>
<!-- LAO LOGO -->
            <table style="background-color:#FFFFFF;font-family:Arial,sans-serif;font-size:10pt;vertical-align: top;" width="600" cellpadding="3" cellspacing="3">
				<tr>
                    <td align="left"><a href='http://www.landadvisors.com/'><img src='https://request-server.s3.amazonaws.com/maps/laologo.png' title="Land Advisors Organization"></a></td>
                </tr>
            </table>
<!-- VIEW IN TERRAFORCE OR L5 BUTTONS -->
            <table style="background-color:#551A8B;font-family:Arial,sans-serif;font-size:10pt;vertical-align:middle" width="1315" cellpadding="2" cellspacing="2">
                <tr>
                    <td style="height:20px;text-align:left;color:#FFFFFF;width: 50px;font-size:16px"><strong>EBlast Definitions</strong></td>
                </tr>
            </table>
		</div>
<!-- MAIN BODY -->
		<div style="font-family:Arial,sans-serif;">
<!-- CAMPAING RESULTS -->

            <div style="float:left;width: 50%">
                <table style="background-color:#FFFFFF;font-family:Arial,sans-serif;font-size:12pt;vertical-align: top;" width="700" cellpadding="5" cellspacing="3">

                    <tr style="vertical-align: top"><td width="150"><strong>Subject Line:</strong></td>
                    <td width="850">This is the Subject that appears in the Subject Line of the EBLast sent to subscribers.  It appears as the title to the EBlast Agent Report under the Land Advisors logo.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Campaign:</strong></td>
                    <td width="850">A single EBlast comprised of an Email sent to a Group of Subscribers defined by the sender/agent.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>List</strong></td>
                    <td width="850">A database of all Land Advisor Subscribers.  There is only one List in the Land Advisor's EBlast application.  EBlasts will NEVER be sent to the entire list, but rather to a subset of the List called a Group.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Group</strong></td>
                    <td width="850">Groups are subsets of the List.  EBlasts are sent to Groups rather than the List.  Groups may be defined by the Subscriber preferences (e.g. Houston Market, Residential Land, etc.) or by the Sender by giving Marketing a specific Group of Subscribers in a spreadsheet.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Preferences</strong></td>
                    <td width="850">Preferences are attributes selected</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Links</strong></td>
                    <td width="850">Links are either text or images that open a website or file (e.g. PDF) when the Subscriber clicks on them.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Total Sent:</strong></td>
                        <td width="850">The total number of emails sent for the Campaign.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Subscriber:</strong></td>
                    <td width="850">An individual in the Eblast list that includes a name and an email address.  Subscribers are defined as Active or Unsubscribed.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Sender/Sent By:</strong></td>
                    <td width="850">The Sender is the LAO agent that sent/requested the EBlast and is the person whose email address is listed in the EBlast as the contact.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Subscriber Clicks:</strong></td>
                    <td width="850">The number of Subscribers sent the EBlast that clicked on a link in the EBlast.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Clicks:</strong></td>
                    <td width="850">A Subscriber action when they click on a link or image that has a link attached to it in the EBlast.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Total Clicks:</strong></td>
                    <td width="850">The number of times all Subscribers click a link in the EBlast.  A single Subscriber may click on mutilple items in the EBlast with each click adding to the Total Clicks number.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Click Rate:</strong></td>
                    <td width="850">The percenage of the Subscribers that click a link in the email.  Calculated as Subcriber Clicks / Total Sent * 100.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Opens:</strong></td>
                    <td width="850">When a Subscriber opens the email to read, but does not click on a link in the email.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Total Opens:</strong></td>
                    <td width="850">Totla number of Subscribers that Opened the email including those that clicked on a link in the email.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Not Opened:</strong></td>
                    <td width="850">Subscriber that recieved an email, but did not Open or Click it.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Open Rate:</strong></td>
                    <td width="850">The percentage of Subscribers that Opened the email.  Subscribers that Clicked a link in the email are also included in the Open Rate.  Calculated as Total Opened / Total Sent * 100.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Bounced</strong></td>
                    <td width="850">Subscribers that were sent the EBlast, but their email address was incorrect so the EBlast could not be deliverd.</td></tr>

                    <tr style="vertical-align: top"><td width="150"><strong>Unsubscribed</strong></td>
                    <td width="850">Subscribers that recieved the EBlast and chose to not recieve any more EBlasts from Land Advisors.  Unsubscribers that are included in future EBlasts will not be sent the EBlast.</td></tr>


                </table>

            </div>

            <div style="float:left;width: 50%;">
                <span style="font-size:14pt;"><strong>Sample EBlast Report</strong></span>
                <img src='https://request-server.s3.amazonaws.com/maps/eblast_definitions_image.png' title="EBlast Sample">
            </div>
        </div>
	</body>
</html>
