<!-- This version removes LAO Activity and replaces it with Agents and Stage only if an LAO Deal -->
<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
	<body style="font-family:Arial,sans-serif;">

<!-- TITLE & MENU DIV -->
		<div>
<!-- LAO LOGO -->
            <table style="background-color:#FFFFFF;font-family:Arial,sans-serif;font-size:10pt;vertical-align: top;" width="600" cellpadding="3" cellspacing="3">
				<tr>
                    <td align="center"><img src='https://request-server.s3.amazonaws.com/maps/yougotoprs.png' title="Land Advisors Organization"></td>
                </tr>
            </table>
<!-- OPR TITLE -->
            <table style="background-color:#FFFFFF;font-family:Arial,sans-serif;font-size:10pt;vertical-align: top;" width="600" cellpadding="3" cellspacing="3">
                <tr>
                    <td style="color:black;font-size:14pt;text-align:center;">
                        <strong>A new batch of One Page Reports has been sent.</strong>
                    </td>
                </tr>
                <tr>
                    <td style="color:black;font-size:14pt;text-align:center;"><strong>Please check your Inbox > OPR folder in Outlook.</strong>
                    </td>
                </tr>
            </table>
        </div>
	</body>
</html>
